<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="fragments/navbar"></div>

<div class="container" style="padding-top: 150px; padding-right: 200px; padding-left: 200px">
    <form th:action="@{/add_depadmin}"
          th:object="${depAdminstratif}" method="post">

        <div class="row">

            <div class="col-md-6 offset-md-3 form-group" style="margin-bottom: 30px">
                <div class="form-group">
                    <label for="nom">Nom de departement</label>
                    <input class="form-control" type="text" th:field="*{nom}" id="nom" placeholder="nom">
                    <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
                </div>
            </div>

            <div class="col-md-6 offset-md-3" style="text-align: right">
                <button type="submit" class="btn btn-success">Ajouter departement</button>
            </div>

        </div>
    </form>
</div>
</body>
</html>