<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="fragments/navbar"></div>

<div class="container" style="padding-top: 150px">
    <h4 th:text="|Nom: ${dep.nom}|"></h4>
    <h4 th:text="|No. employes: ${dep.listEmp.size()}|"></h4>

    <hr style="margin-top: 30px; margin-bottom: 40px">

    <h5>Employes:</h5>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Emp no.</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Departement</th>
            <th scope="col">Manager</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp: ${dep.listEmp}">
            <td>
                <a th:text="${emp.empID}" th:href="@{/employe/{id}(id=${emp.empID})}"></a>
            </td>
            <td th:text="${emp.nom}"></td>
            <td th:text="${emp.prenom}"></td>
            <td th:text="${emp.dep.nom}"></td>
            <td th:text="|${emp.manager.nom} ${emp.manager.prenom}|"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>