<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>

<div th:replace="fragments/navbar"></div>

<div class="container" style="padding-top: 150px">
    <h4 th:text="|Nom: ${normalEmp.nom}|"></h4>
    <h4 th:text="|Prenom: ${normalEmp.prenom}|"></h4>
    <h4 th:text="|Departement: ${normalEmp.dep.nom}|"></h4>
    <h4 th:text="|Prenom: ${normalEmp.manager.nom}|"></h4>
</div>
</body>
</html>