<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Resource Humaines</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/employe/}">Employes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/departement/}">Departements</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="padding-top: 100px">
    <h4 th:text="|Nom: ${normalEmp.nom}|"></h4>
    <h4 th:text="|Prenom: ${normalEmp.prenom}|"></h4>
    <h4 th:text="|Departement: ${normalEmp.dep.nom}|"></h4>
    <h4 th:text="|Prenom: ${normalEmp.manager.nom}|"></h4>
</div>
</body>
</html>