<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{https://kit.fontawesome.com/c46e0100b8.js}" crossorigin="anonymous}"></script>
</head>
<body>

<div th:replace="fragments/navbar"></div>

<div class="container" style="padding-top: 150px">
    <h4>Employes</h4>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Emp no.</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Departement</th>
            <th scope="col">Manager</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp: ${empsNormale}">
            <td th:text="${emp.empID}"></td>
            <td th:text="${emp.nom}"></td>
            <td th:text="${emp.prenom}"></td>
            <td th:text="${emp.dep.nom}"></td>
            <td th:text="|${emp.manager.nom} ${emp.manager.prenom}|"></td>
            <td>
                <div class="row" style="width: 50%">
                    <div class="col-md-4" style="text-align: center">
                        <a th:href="@{/employe/{id}(id=${emp.empID})}">
                            <i style="color: gray" class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-md-4" style="text-align: center">
                        <a th:href="@{/employe/modifier/{id}(id=${emp.empID})}">
                            <i style="color: gray" class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-md-4" style="text-align: center">
                        <a th:href="@{/employe/delete/{id}(id=${emp.empID})}"
                           onclick="if (!(confirm('Vous Voulez supprimer cet element?'))) return false">
                            <i style="color: red" class="fa fa-trash"></i>
                        </a>
                        <!--<a th:if="${dep.listEmp.size() > 0}" class="disabled"
                           th:href="@{/departement/administratif/delete/{id}(id=${dep.depID})}"
                           onclick="if (!(confirm('Vous Voulez supprimer cet element?'))) return false">
                            <i style="color: red" class="fa fa-trash"></i>
                        </a>-->
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row" style="margin-bottom: 100px; margin-top: 50px">
        <div class="col-md-3 offset-md-9" style="text-align: right">
            <a class="btn btn-primary" th:href="@{/employe/add}">Ajouter Employe</a>
        </div>
    </div>

    <h4>Managers</h4>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Emp no.</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Departement</th>
            <th scope="col">Subjacents</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp: ${empsManager}">
            <td th:text="${emp.empID}"></td>
            <td th:text="${emp.nom}"></td>
            <td th:text="${emp.prenom}"></td>
            <td th:text="${emp.dep.nom}">
            <td th:text="${emp.listEmp.size()}"></td>
            <td>
                <div class="row" style="width: 50%">
                    <div class="col-md-4" style="text-align: center">
                        <a th:href="@{/manager/{id}(id=${emp.empID})}">
                            <i style="color: gray" class="fa fa-eye" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-md-4" style="text-align: center">
                        <a th:href="@{/manager/modifier/{id}(id=${emp.empID})}">
                            <i style="color: gray" class="fa fa-pencil" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-md-4" style="text-align: center">
                        <a th:href="@{/manager/delete/{id}(id=${emp.empID})}" th:if="${emp.listEmp.size() == 0}"
                           onclick="if (!(confirm('Vous Voulez supprimer cet element?'))) return false">
                            <i style="color: red" class="fa fa-trash"></i>
                        </a>
                        <!--<a th:if="${dep.listEmp.size() > 0}" class="disabled"
                           th:href="@{/departement/administratif/delete/{id}(id=${dep.depID})}"
                           onclick="if (!(confirm('Vous Voulez supprimer cet element?'))) return false">
                            <i style="color: red" class="fa fa-trash"></i>
                        </a>-->
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row" style="margin-bottom: 100px; margin-top: 50px">
        <div class="col-md-3 offset-md-9" style="text-align: right">
            <a class="btn btn-primary" th:href="@{/manager/add}" style="margin-bottom: 50px">Ajouter Manager</a>
        </div>
    </div>
</div>
</body>
</html>