<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Resource Humaines</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/employe/}">Employes</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/departement/}">Departements</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container" style="padding-top: 100px">
    <h4>Employes</h4>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Emp no.</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Departement</th>
            <th scope="col">Manager</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp: ${empsNormale}">
            <td>
                <a th:text="${emp.empID}" th:href="@{/employe/{id}(id=${emp.empID})}"></a>
            </td>
            <td th:text="${emp.nom}"></td>
            <td th:text="${emp.prenom}"></td>
            <td th:text="${emp.dep.nom}"></td>
            <td th:text="|${emp.manager.nom} ${emp.manager.prenom}|"></td>
            <td>
                <a class="btn btn-danger"
                   th:href="@{/employe/delete/{id}(id=${emp.empID})}"
                   onclick="if (!(confirm('Vous Voulez supprimer cet element?'))) return false">
                    Supprimer
                </a>
                <a class="btn btn-success" th:href="@{/employe/modifier/{id}(id=${emp.empID})}">
                    Modifier
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-3 offset-md-9" style="text-align: right">
            <a class="btn btn-primary" th:href="@{/employe/add}" style="margin-bottom: 50px">Ajouter Employe</a>
        </div>
    </div>

    <h4>Managers</h4>
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Emp no.</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Departement</th>
            <th scope="col">Subjacents</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp: ${empsManager}">
            <td>
                <a th:text="${emp.empID}" th:href="@{/manager/{id}(id=${emp.empID})}"></a>
            </td>
            <td th:text="${emp.nom}"></td>
            <td th:text="${emp.prenom}"></td>
            <td th:text="${emp.dep.nom}">
            <td th:text="${emp.listEmp.size()}"></td>
            <td>
                <a th:if="${emp.listEmp.size() == 0}" class="btn btn-danger"
                   th:href="@{/manager/delete/{id}(id=${emp.empID})}"
                   onclick="if (!(confirm('Vous Voulez supprimer cet elementr?'))) return false">
                    Supprimer
                </a>
                <a th:if="${emp.listEmp.size() > 0}" class="btn disabled btn-danger"
                   th:href="@{/manager/delete/{id}(id=${emp.empID})}"
                   onclick="if (!(confirm('Vous Voulez supprimer cet elementr?'))) return false">
                    Supprimer
                </a>
                <a class="btn btn-success" th:href="@{/manager/modifier/{id}(id=${emp.empID})}">
                    Modifier
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-3 offset-md-9" style="text-align: right">
            <a class="btn btn-primary" th:href="@{/manager/add}" style="margin-bottom: 50px">Ajouter Manager</a>
        </div>
    </div>
</div>
</body>
</html>